#footer {
    padding-top:5px;
    padding-bottom:5px;

    width:100%;

    float:left;
    clear:both;

    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

#footer .row {
    width:100%;
}

#footer .text-right {
    padding-right:35px;
}
