<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                &copy; @DateTime.Today.Year Copyright - All Right Reserved
            </div>
            <div class="col-sm-5">
                Created by Corentin Altepe
            </div>
            <div class="col-sm-2 text-right">
                <small class="text-muted">v0.0.1</small>
            </div>
        </div>
    </div>
</footer>
