<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>

</head>
<body>
    <div>
        <div>
            @Html.ActionLink("ScubaDivelogs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("App", "Index", "App")</li>
            </ul>
        </div>
    </div>
</body>
</html>